<div class="header-layout" [appFixedMenu]="'fixed'" [howFixed]="'top'">
  <div class="header-cont">
    <!--網站LOGO-->
    <h1>
      <a>
        <img src="/assets/images/LOGO.png" alt="">
      </a>
    </h1>
    <!--網站LOGO-->
    <!--網站上方資訊列-->
    <ul class="topinfo-cont">
      <li>
        <i class="topinfor-user"></i>
        <span>hamaadm歡迎</span>
      </li>
      <!-- <li>
        <a>
          <i class="topinfor-cog"></i>後台管理專區</a>
      </li> -->
      <li>
        <a>
          <i class="topinfor-earth"></i>
          <span>語言設定</span>
        </a>
        <ul class="language">
          <li>
            <a>繁體中文</a>
          </li>
          <li>
            <a>簡体中文</a>
          </li>
          <li>
            <a>English</a>
          </li>
        </ul>
      </li>
      <li>
        <a>
          <i class="topinfor-enter"></i>
          <span>登出</span>
        </a>
      </li>
    </ul>
    <!--網站上方資訊列-->
  </div>
</div>
