<div class="top_layout">
  <div class="hidden_block">
  </div>
  <div class="section_block">
    <section class="section_item">
      <div class="section_img img01"></div>
      <div class="area">
        <h3>
          教材管理
        </h3>
        <div>
          提供分類維護以及教材維護
        </div>
      </div>
      <div class="center">
        <a class="button">進入</a>
      </div>
    </section>
    <section class="section_item">
      <div class="section_img img02"></div>
      <div class="area">
        <h3>
          課程管理
        </h3>
        <div>
          提供課程設計及管理
        </div>
      </div>
      <div class="center">
        <a class="button">進入</a>
      </div>
    </section>
    <section class="section_item">
      <div class="section_img img03"></div>
      <div class="area">
        <h3>
          訊息管理
        </h3>
        <div>
          提供最新消息維護
        </div>
      </div>
      <div class="center">
        <a class="button">進入</a>
      </div>
    </section>
    <section class="section_item">
      <div class="section_img img04"></div>
      <div class="area">
        <h3>
          使用分析
        </h3>
        <div>
          提供課程使用的情況
        </div>
      </div>
      <div class="center">
        <a class="button">進入</a>
      </div>
    </section>
    <section class="section_item">
      <div class="section_img img05"></div>
      <div class="area">
        <h3>
          系統統計分析
        </h3>
        <div>
          提供學生學習上的分析
        </div>
      </div>
      <div class="center">
        <a class="button">進入</a>
      </div>
    </section>
    <section class="section_item">
      <div class="section_img img06"></div>
      <div class="area">
        <h3>
          系統維護管理
        </h3>
        <div>
          提供權限以及功能上設定
        </div>
      </div>
      <div class="center">
        <a class="button">進入</a>
      </div>
    </section>
  </div>
</div>
